<p id="notice"><%= notice %></p>

<div id="line_top_x"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Year');
      data.addColumn('number', 'Guardians of the Galaxy');
      data.addRows([
            <% @prices.each_with_index do |price, index| %>
           <%= price.date %>, <%= price.cost || 0 %>,                                 
          // "['<%= price.date %>',<%= price.cost || 0 %>]"
          <% end %>
          ]);

      var options = {
        chart: {
          title: 'Графік цін на товари.',
          subtitle: ''
        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: {side: 'top'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, options);
    }
</script>

 

<canvas id="canvas" height="450" width ="600"></canvas>
<script>
jQuery(function() {
  var data, myNewChart;
  data = {
    labels: [
        <% @prices.each do |price| %>
        '<%= price.date.to_date %>'
        ,
          <% end %>
    ],
    datasets: [
      {
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        data: [
            <% @prices.each do |price| %>
            <%= price.cost || 0 %>
            ,
            <% end %>
        ]
      }
    ]
  };
  return myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data);
});
</script>


<%= link_to 'Add new price', new_price_path, class:"btn btn-success pull-right" %>

<h1>Список цін</h1>

<ul>

  
  
</ul>

<table class='table'>
  <tbody>
    <% @prices.each do |price| %>
      <tr>  
        <td><%=number_to_currency(price.cost,unit: "грн.", separator: ",", delimiter: "", format: "%n %u")%></td>

        <%- if price.city.nil? %>
          <td> no city</td>
        <%else%>
          <td><%=price.city.name%></td>
        <%end%>

        <%- if price.place.nil? %>
          <td> no place</td>
        <%else%>
          <td><%=price.place.name%></td>
        <%end%>

        <%- if price.product.nil? %>
          <td><%= link_to 'no product' %></td>
        <%else%>
          <td><%=link_to price.product.name, {product_id: price.product}%></td>
        <%end%>

        <%- if price.brand.nil? %>
          <td> no brand</td>
        <%else%>
          <td><%=price.brand.name%></td>
        <%end%>
      
        <%- if price.date.nil? %>
          <td> no date</td>
        <%else%>
          <td><%=price.date.strftime("%d-%m-%Y")%></td>
        <%end%>
             

        <td><%= link_to 'Show', price %></td>
        <td><%= link_to 'Edit', edit_price_path(price) %></td>
        <td><%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>

    <% end %>
  </tbody>
</table>

<br>

    






  
